/*Styling for nav */

li{
    padding-left: 10px;
    font-size: 20px;
}

nav{
    height: 60px;
}

#dtu{
    margin-top: 10px; 
    color: cyan;  
}

.xyz
{
    text-align: center;
    font-size: 20px;
    color: white;
}

.xyz:hover{
    text-decoration-color: aqua;
    color: rgb(120, 219, 226);
    font-size: 24px;
} 

.xyz1{
    text-align: center;
    font-size: 18px;
    color: wheat;
}

/* #menu1
{
    height:20px;
    width:120px;
} */

/* #xyz:hover{
    text-decoration-color: aqua;
    color: yellowgreen;
    font-size: 25px;
} */

 
.dropdown 
{
    position: relative;
    display: inline-block;
}
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #161616;
    font-size: 17px;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
  
.dropdown-content a 
{
    color:white;
    padding: 5px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover 
{
    background-color: rgb(65, 63, 63);
}
  
.dropdown:hover .dropdown-content {display: block;}
  
/* .dropdown:hover .dropbtn {background-color: rgb(87, 85, 85);} */

/*Styling for nav ends */


h1{
    color:rgb(230, 245, 238);
    height: 75px;
    padding-top: 10px;
    margin-bottom: 30px;
    background: url(food.jpg);
    background-size: cover;
    text-align: center;
    font-weight: 700;
    font-size:40px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container
{
    padding:10px 2px;
    
}
.row{
    width: 135%;
}
.col
{
    width:200px;
}
.image
{
    height:600px;
    border: 2px solid black;
    width:100%;
} 
.image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
  
.middle {
    height:80px;
    width:180px;
    transition: ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
}
  
.col:hover .image {
    opacity: 0.7;
}
  
.col:hover .middle {
    opacity: 1;
}
  
.text 
{
    background-color: rgb(238, 19, 3);
    color: rgb(237, 238, 243);
    font-family: cursive;
    font-size: 20px;
    padding: 16px 32px;
}

.middle:hover .text
{
    color: aliceblue;
}
