body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

td{
    font-size: 25px;
}

td:nth-child(1){
    padding-left: 15%;
    width : 30%;
    color: rgb(14, 11, 73);
}

td:nth-child(2){
    width : 40%;
    color: rgb(36, 47, 66);
}

td:nth-child(3){
    /* padding-left: 10%; */
    width: 30%;
    color: rgb(35, 82, 82);
}

h2{
    text-align: center;
}

h4{
    color: red;
    margin-left: 57%;
}

/* body{
    background-image: url('Order.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

.bg-image {
    /* The image used */
    background-image: url('Order1.jpg');
  
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(4px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  #backmenu{
      margin-top: 50px;
      color: white;
  }

  a{
      color: white;
  }

  a:hover{
      color : black;
  }