/*Styling for nav */

li{
    padding-left: 10px;
    font-size: 20px;
}

nav{
    height: 60px;
}

#dtu{
    margin-top: 10px; 
    color: cyan;  
}

.xyz
{
    text-align: center;
    font-size: 20px;
    color: white;
}

.xyz:hover{
    text-decoration-color: aqua;
    color: rgb(120, 219, 226);
    font-size: 24px;
} 

.xyz1
{
    text-align: center;
    font-size: 20px;
    color: white;
}

/* #menu1
{
    height:20px;
    width:120px;
} */

/* #xyz:hover{
    text-decoration-color: aqua;
    color: yellowgreen;
    font-size: 25px;
} */

 
.dropdown 
{
    position: relative;
    display: inline-block;
}
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #161616;
    font-size: 17px;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
  
.dropdown-content a 
{
    color:white;
    padding: 5px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover 
{
    background-color: rgb(65, 63, 63);
}
  
.dropdown:hover .dropdown-content {display: block;}
  
/* .dropdown:hover .dropbtn {background-color: rgb(87, 85, 85);} */

/*Styling for nav ends */

h1
{
    color:rgb(228, 243, 95);
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    background: url(heading.jpg);
    background-size: cover;
    text-align: center;
    font-weight: 700;
    font-size:40px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.txt
{
    font-size:20px;
}
.container
{
    padding-left:270px;
}

.content
{
    color:rgb(214, 52, 30);
    font-weight: 400;
    padding-top: 20px;
}